.game-container {
  width: 60vw;
  height: 100vh;
  background-color: #1e1e1e;
  position: left;
  overflow: hidden;
}

.player {
  width: 1rem;
  height: 0.5rem;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  color: limegreen;
  text-align: center;
  line-height: 2rem;
}

.bullet {
  width: 3px;
  height: 8px;
  background-color: rgb(140, 154, 229);
  position: absolute;
  transform: translateX(-50%);
}

.word {
  position: absolute;
  color: white;
  font-family: 'Courier New', monospace;
  font-size: 20px;
  white-space: pre-wrap;
  text-align: left;
}

.sql-line {
  position: absolute;
  font-family: monospace;
  color: white;
  font-size: 16px;
}

.line-number {
  position: absolute;
  left: 1rem;
  color: gray;
  font-family: monospace;
  text-align: right;
  width: 10px; 
  font-size: 16px;
  pointer-events: none;
}