.game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: black;
  overflow: hidden;
}

.player {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 30px solid green;
  transform: translateX(-15px); /* Center the triangle */
}

.bullet {
  width: 5px;
  height: 10px;
  background: red;
}

.row-number {
  color: white;
  font-family: monospace;
  font-size: 1rem;
  margin-left: 10px;
}

.enemy {
  height: 20px;
  /* background: blue; */
  color: white;
  font-family: monospace;
  font-size: 1rem;
  padding: 0 10px;
  line-height: 20px;
  white-space: nowrap;
}